.header {
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  height: 70px;
  background-color: var(--color-blue);
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
 }

.left-elements {
  display:inline-flex;
  align-items: right; /* Align the elements vertically */
  justify-content: right;
}


.header h1 {
  font-size: 25px;
  font-weight: 800;
  line-height: 20px;
  color: var(--color-white);
  text-align: left;
}


.header .logo {
  font-size: 32px;
  font-weight: 800;
  line-height: 1;
  color: var(--color-white);
  margin: 0;
}

.hamburger {
  display: none; 
  cursor: pointer;
  font-size: 30px;
  color: var(--color-white);
}
 
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem;
}

.nav__list {
  display: flex;
  align-items: right;
  text-align: center;
  line-height: 18px;
  flex-direction: row;
  gap: 2rem; 
  list-style: none; 
  padding: 0; 
  margin: 0; 
}
 
.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-white);
  font-weight: 400;
  font-size: 20px;
  transition: color 0.4s;
  white-space: normal; 
  width: max-content; 
  position: relative; /* Add this */
}

.fixed-image-container {
  position: relative; 
  align-items: center; 
  right: 0px; 
  
}

.fixed-image {
  width: 120px;
  height: auto; 
}
 
.nav__link:hover {
  color: var(--color-green);
}

.nav-spacer {
  width: 10%;
}

@media (max-width: 1600px) {
  .hamburger {
    display: flex; 
    margin: 20px;
  }

  .nav {
    display: none;
    flex-direction: column;
    width: fit-content; 
    background-color: var(--color-blue);
    position: absolute;
    top: 60px;
    right: 0;
    margin: 0; 
  }
  .header .logo {
    font-size: 24px
  }

  .nav.open {
    display: flex; 
    width: 25%;
    min-width: 250px;
    height: 100vh;
  }

  .nav__list {
    
    flex-direction: column;
    align-items: flex-end; 
    gap: 0.1rem; 
    padding: 0; 
    margin: 0; 

  }

  .nav__link {
    padding: 1rem 1.5rem; 
    width: 100%;
  }
}