@import url('../../App.css');
.card {
  width:100%;
  border: 5px solid var(--color-green);
  border-radius: 55px;
  margin: 15px 0;
  padding: 30px;
  display: block; 
  box-sizing: border-box; 
  transition: background-color 0.2s; 
  position: sticky; 
  z-index: 1;
  cursor: pointer; 
  justify-content: space-between; 
  overflow: hidden;
}

.card:hover{
  background-color: var(--color-green);
}


.card.expanded:hover{
  background-color: var(--color-white);
}

.card.expanded {
  border-radius: 55px; 
}

.card-header {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  pointer-events: none; 
}

.card-content {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 20px;
  border-top: 1px solid #ccc;
  transition: padding 0.2s; 
  overflow: hidden; 
  flex-grow: 1;
}

