@import url('../../App.css');

.card {
  width: 100%;
  border: 5px solid var(--color-green);
  border-radius: 55px;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 0;
  display: block; 
  box-sizing: border-box; 
  transition: background-color 0.2s; 
  position: sticky; 
  z-index: 1;
  cursor: pointer; 
  justify-content: space-between; 
  overflow: hidden;
}

.card:hover{
  background-color: var(--color-green);
}

.card.expanded {
  border-radius: 55px; 
}

.card.expanded:hover{
  background-color: var(--color-white);
}

@media (max-width: 900px) {
  .card:hover{
    background-color: var(--color-white);
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  font-weight: 800;
  line-height: 1.1em;
  font-size: 1.6em;
  margin: 0;
  width: calc(100% - 10px); 
  overflow-wrap:break-word; 
  hyphens:auto;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.toggle-button {
  position: relative ;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  pointer-events: none; 
}

.card-content {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 20px;
  border-top: 1px solid #ccc;
  transition: padding 0.2s; 
  overflow: hidden; 
  flex-grow: 1;
}

